[submodule "src/themes/lithium"]
	path = src/themes/lithium
	url = https://github.com/jrutheiser/hugo-lithium-theme
[submodule "src/themes/goblog"]
	path = src/themes/goblog
	url = git@github.com:yuchanns/hugo-theme-goblog.git
[submodule "src/themes/yuchanns"]
	path = src/themes/yuchanns
	url = git@github.com:yuchanns/hugo-theme-yuchanns.git
[submodule "pre-render"]
	path = pre-render
	url = git@github.com:yuchanns/hugo-pre-render.git
