:root {
  --vp-c-brand: #d23669;
  --vp-c-brand-light: #d23669;
  --vp-c-brand-lighter: #d23669;
  --vp-c-brand-dark: #d23669;
}

.dark {
  --vp-c-brand: #ffa7c4;
}

.VPDoc img {
  border-radius: 6px;
  box-shadow:0 0 10px #555;
}

@media (min-width:550px) {
  .VPDoc img {
    max-width: 65%;
  }
}

.better-list-block .twitter-tweet {
    margin-left: 30px;
}
